* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #36FF68;
    height: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0;
    overflow: hidden;
}

#designline1 {
    background-color: #248232;
    height: 15px;
    width: 100%;


}

.eleicao {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin-top: 50px;
    background-color: #a0bea8;
    border-width: 7px;
    border-color: #6cad92;
    border-style: solid;
}

.turno {
    background-color: #6cad92;
    font-family: "Gill Sans", sans-serif;
    padding-top: -10px;

}

.turno:hover {
    background-color: #b7d1be;
}

body {
    height: 1000px;
    background-color: #FCFFFC;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
}

main {

    margin-top: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}