.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    padding: 50px 0 50px 0;
}
.menus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:300px;
    padding: 50px 0 50px 0;

    background-color: beige;
}
.teclado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 20px;
}
.teclado button{
    padding:30px 50px 30px 50px;
    border:1px solid black;
}
.teclado button:hover{
    background-color: gray;
}